<top-menu></top-menu>
<div id="main" class="container">
  <!--<alert type="success">hello</alert>-->
  <div class="row no-gutters">
    <div class="col-lg-2">
      <div id="months-of-the-year">
        <h2 id="currentYear">{{currentDate.getUTCFullYear()}}</h2>
        <ol class="items">
          <li *ngFor="let month of MONTHS; let i = index"
              [class.selected]="i === selectedMonth"
              (click)="onMonthChange(authUser.id, currentDate.getUTCFullYear(), i)">{{month}}</li>
        </ol>
      </div>
    </div>
    <div class="col-lg-6">
      <router-outlet></router-outlet>
    </div>
    <div class="col-lg-4">
      <h2>Other stuff</h2>
      <a routerLink="/users" routerLinkActive="active">Users</a>
    </div>
  </div>
</div>
