<ng-container *ngIf="authUser.vehicles?.length > 0">
  <div class="row row-equal-height widget-heading">
    <div class="col-md-9">
      <h2>Upcoming Renewals</h2>
    </div>
    <div class="col-md-3 widget-heading-action">
      <a href=""> Add a reminder</a>
    </div>
  </div>
  <div *ngFor="let vehicle of vehiclesToRenew" class="widget">
    <h3>Renew My Tabs</h3>
    <div class="row">
      <div class="col-md-6">
        <p><span class="column-label">Vehicle make:</span> {{vehicle.make.title}}</p>
        <p><span class="column-label">Vehicle model:</span> {{vehicle.model.title}}</p>
        <p><span class="column-label">License plate:</span> {{vehicle.plateNumber}}</p>
      </div>
      <div class="col-md-6">
        <span class="label label-danger">{{vehicle.plateExpiration | date:'fullDate'}}</span>
        <a href="{{vehicle.id}}" class="button">Renew Tabs</a>
      </div>
    </div>
  </div>
</ng-container>
